#up-pinaka-header-style {
    background-color: white;
    color: #00b7bd;

    position: relative;
    padding: 10px;

    text-align: center;

    left: 0px;
    top: 1.2rem;

    margin: 0 auto;

    width: 200px;
    height: 40px;

    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    
}

@media screen and (min-width: 700px) {
    #up-pinaka-header-style {
        width: 375px;
    }
}

@media screen and (min-width: 1100px) {
    #up-pinaka-header-style {
        width: 550px;
    }
}

#up-pinaka-logo {
    
}

#pin-header {
    position: relative;

    left: 10px;
    top: -10px;

}

#ka-header {
    position: relative;

    left: -14px;
    top: -10px;
}