#main_discount_info {
    
    /*background-image: url('http://localhost:5000/assets/dashboard/p_11.PNG');*/
    /*background-size: 1543px 150px;*/
    background-size: 1543px 150px;
    background-repeat: no-repeat;
    position: relative;

    top: 0px;
    left: 0px;

    
    width: 1543px;
    height: 150px;
    
    margin: 0 auto;
}


.main-banner-images {
    position: relative;
    width: 100%;
    height: 150px;
}

.main-banner-link {
    position: absolute;
    left: 0;
    width: 100%;
    height: 150px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}


.carousel .control-prev.control-arrow{
    left: 470px;
    padding: 20px;
}

.carousel .control-prev.control-arrow:before{
    border: none;
}

.carousel .control-next.control-arrow{
    right: 450px;
    padding: 20px;
}

.carousel .control-next.control-arrow:before{
    border: none;
}